<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Logger for a specific package or class -->
 <!--   <logger name="com.whatever.service.AudioHandler" level="DEBUG" />
    <logger name="com.whatever.service.CoordinatorService" level="DEBUG" />
    <logger name="com.whatever.service.Mp3Encoder" level="DEBUG" />
-->
</configuration>
